/*Diseños Generales*/


header{
    width: 100%;
    overflow: hidden;
    background:#ffffff;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}

.logo {
    font-size: 50px;
    line-height: 90px;
    float:left; 
}

.barrNav{
    float: right;
    line-height: 90px;
}
 .Imgindex{
     width: 1000px;
     height: 500px; ;
 }

 .foter{
     background: rgb(221, 221, 221);
 }

 .foterred{
    text-align: center;
    margin:;
 }

 .foterinfo{
     text-align: center;
     text-decoration: black;

 }


 /* historia */
 .imghistoria{
    width: 1000px;
    height: 500px; ;
 }

 .videohistoria{
    width: 1000px;
    height: 500px; ;
 }

 /* Carreras*/

 .imgcarreras{
     width: 1000px;
     height: 150px;
 }