/*Diseños Generales*/


header{
    width: 100%;
    overflow: hidden;
    background:#ffffff;
    margin-bottom: 20px;
}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}


.logo {
    font-size: 50px;
    line-height: 90px;
    display:inline-block; 
    
}



header nav a{
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    

}
header nav a:hover{
    background: #dfdfdf;
    border-radius: 6px;
}

.barrNav{
    margin-left:20px ;
    line-height: 90px;
    display:inline-block;

}
 .Imgindex{
     width: 1000px;
     height: 500px; ;
 }

 .foter{
     background: rgb(221, 221, 221);
 }

 .foterred{
    text-align: center;
    
 }

 .foterinfo{
     text-align: center;
     text-decoration: black;
 }
 


 /* historia */
 .imghistoria{
    width: 1000px;
    height: 500px; ;
 }

 .videohistoria{
    width: 1000px;
    height: 500px; 
 }

 /* Carreras*/

 .imgcarreras{
     width: 1000px;
     height: 150px;
 }

/* Equipos*/

.imgequipos{
    width:600px ;
    height: 400px;
}

.imgmovistar{
    width:600px ;
    height: 400px;
}

.imgpaugeot{
    width:600px ;
    height: 400px;
}

.imgsky{
    width:600px ;
    height: 400px;
}

.imgastana{
    width:600px ;
    height: 400px;
}

/* Registro

.agregistro{
    display: block; 
}

form ul{
    border:black 2px solid;
}

.buttregis{
    background: rgb(75, 147, 255);

} */
.registromargin {
    width: 90%;
    max-width: 1000px;
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
}


